@font-face {
font-family: 'Brandon Grotesque';
src: url('//www.pantheonsorbonne.fr/fileadmin/templates/v2/font/brandon_grotesque.eot?') format('eot'),
     url('//www.pantheonsorbonne.fr/fileadmin/templates/v2/font/brandon_grotesque.otf') format('truetype'),
     url('//www.pantheonsorbonne.fr/fileadmin/templates/v2/font/brandon_grotesque.woff') format('woff'),
     url('//www.pantheonsorbonne.fr/fileadmin/templates/v2/font/brandon_grotesque.svg#BrandonGrotesque') format('svg');
font-weight: normal;
font-style: normal;
}


html {
    font-family: Arial,Helvetica,sans-serif;
}

.subtitle a {
    color: #00326E;
    text-decoration: none;
}
.subtitle {
    position: absolute;
    top: 58px;
    font-size: 15px;
    left: 53px;
}

.search {
    text-align: center;
    margin: 4em 0 0.5em;
}

.search > form {
    display: inline-block;   
}

.searchLoupe {
    vertical-align: middle;
    height: 32.5px;
    opacity: 0.5;
    Xcolor: #888;
    Xfont-size: 180%;
    float: right;
    margin-left: -40px;
}

.search input {
    display: inline-block;
    height: 31px;
    width: 25em;
    padding: 0 30px 0 1em;

    border: 1px solid #aaa;
    border-radius : 5px;
    Xbox-shadow: inset 0 1px 1px rgba(0,0,0,.075);

    outline: none;
    -webkit-appearance: none;
    appearance: none;

    font-size: 14px;
    font-family: Arial, sans-serif;    
}

.search input:focus {
  outline: 0;
  border-color: #C89108;
}

::-moz-placeholder {
  color: #aaa;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #aaa;
}
::-webkit-input-placeholder {
  color: #aaa;
}


.liste-tags {
    position: relative;
}
.liste-tags > div {
    overflow-x: auto;
}
.liste-tags {
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 1.5em;    
    margin-left: 2em;
    font-size: 9px;

    text-transform: uppercase;
    font-family: "Brandon Grotesque", Arial, sans-serif;

    white-space: nowrap;
}

.liste-tags::-webkit-scrollbar {
    display: none;
}

.blur-right {
    background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1));
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    height: 2.5em;
    width: 40px;
    z-index: 2;
}

.liste-tags a {
    text-decoration: none;
    color: #666;
    padding: 0.2rem 1em;
    margin-bottom: 0.5rem;
    display: inline-block;
}

.liste-tags a.selected {
    color: #9f6c07;
    border-bottom: 3px solid #C89108;
}

XX.search a.searchButton {
background-color: #fff;
background-image: url(https://ent.univ-paris1.fr/ProlongationENT/theme-paris1/Loupe.svg);
background-repeat: no-repeat;
background-size: 15px auto;
background-position: 0 12px;
padding-right: 1.5em;
}

.liste-service {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

.liste-service ul{
    display: inline-block;
    Xflex-flow: row wrap;
    list-style: none outside none;
    padding: 0;
    Xjustify-content: space-around;
    text-align: center;
}
.liste-service li {
    display: inline-block;
    vertical-align: top;
    margin: 11px 0.7em 1em;
    position: relative;
    font-size: 13px;
    height: 8em; /*4.5em;*/
    width: 16.5em;
    Xflex: 0 0 16.5em;
    text-align: left;
}

@media screen and (max-width: 700px) {
    .liste-service li {
        font-size: 10px;
    }
    .subtitle {
        display: none;
    }
    .search {
        margin: 0;
    }
    .search form {
        width: 90%;
    }
    .searchLoupe {
        position: absolute;
        right: 30px;
    }
    .search input {
        width: 100%;
        box-sizing: border-box;

    }
    .liste-tags {
        margin-bottom: 0;
        font-size: 7px;
    }
    
}

@media screen and (max-width: 360px) {
    .liste-service li {
        margin-left: 0.3em;
        margin-right: 0.3em;
        Xflex: 0 0 100%;
        Xwidth: 100%;
        width: 15em;
    }
}

.liste-service li.padding {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.liste-service li a {
    text-decoration: none;
}

.liste-service .title .title-text {
    color: #2e5693;
    font-size: 125%;
    vertical-align: middle;
    display: table-cell;
    height: 3em;
}
.liste-service .title {
    box-sizing: border-box;
    display: block;
    background: #d5dceb;
    padding-left: 0.9em;
    
    -moz-border-radius : 7px 7px 0 0;
    border-radius : 7px 7px 0 0;
    -webkit-border-top-left-radius : 7px;
    -webkit-border-top-right-radius : 7px;
}
.liste-service .description {
    color: #666;
    padding: 1em 1em 0.2em;
    display: inline-block;
    font-size: 90%;
    border-left: 2px solid #d5dceb;
    height: 2.8em;
}
.liste-service .title a:hover {
    color: #8d8767 !important;
}
.liste-service .title a:visited {
    color: #2e5693;
}

.liste-service .title img {
    float: right;   
    width: 3.23em;
    height: 3.23em;
    opacity: 0.2;
    margin: 0.31em 0.38em 0 0;
    display: none;
}

.noResult {
    margin-top: 3em;
}

.alwaysVisible {
    bottom: 0px;
    right: 0px;
    position: fixed;
}
/* disabled fixed-tchat, we fix the whole parent <div> */
#pE-tchat.fixed-tchat {
    bottom: initial !important;
    right: initial !important;
    position: initial !important;
}

#pE-header .pE-title-app:before, #pE-header .pE-title-app:after {
    display: none;
} 
